* {
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}
img{
    width: 100%;
}

body {
    top: 0;
    left: 0;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-image: url(images/fondoM.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}


.text-box h1 {
    font-size: 2.5vh;
    font-size: 2.5vw;
}


.nav-list {
    list-style-type: none;
    display: flex;
    gap: 1rem;
}

.nav-list li a {
    color: white;
    text-decoration: none; 
    position: relative;
}

.nav-list li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px; 
    background: grey;
    transition: width 0.5s ease; 
}

.nav-list li a:hover::after {
    width: 100%; 
}

.nav-list-hover {
    position: relative;
    display: inline-block;
    color: #000; 
    text-decoration: none;
}



/* Menu Hamburguesa */
.abrir-menu, .cerrar-menu {
    display: none;
}

@media (max-width: 740px) {
    .abrir-menu, .cerrar-menu {
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }

    .abrir-menu {
        color: white;
    }

    .cerrar-menu {
        color: white;
    }

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
        color: white;
        z-index: 1;
        background-color: rgb(43, 42, 42);
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
    }

    .nav-list li a {
        color: white;
        text-decoration: none;
    }
}


.git {
    width: 60px;
    margin-right: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 2rem;
}
#ima{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.imafoto{
display: flex;
justify-content: center;
margin-top: 10vh;

}

.gorrofoto {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

#gorro {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


.text-box {
    color: white;
    text-align: center;
    margin-top: 20px;
}

.text-box h1 {
    font-size: 3vw;
}

.text-box p {
    font-size: 1.5vw;
}


/* Estilos para el botón de alternancia */
#toggleMode {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: auto; /* Para que el menú de hamburguesa quede a la derecha */
}

#toggleMode:hover {
    background-color: #555;
}

/* Modo oscuro */
.dark-mode {
    background-image: url(images/fondoblanco.jpeg);
    
}

/* Modo oscuro para los enlaces */
.dark-mode .nav-list li a {
    color: #000000;
}

.dark-mode .text-box {
    color: #000000;
}

.dark-mode .git{
    -webkit-filter: invert(100%) !important;
    -moz-filter: invert(100%) !important;
    -o-filter: invert(100%) !important;
    -ms-filter: invert(100%) !important;
}
.dark-mode #gorro{
    -webkit-filter: invert(100%) !important;
    -moz-filter: invert(100%) !important;
    -o-filter: invert(100%) !important;
    -ms-filter: invert(100%) !important;
}






