*{
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}
.header{
    top: 0;
    left: 0;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100%;
    background-image: linear-gradient(rgba(61, 62, 63, 0.7),rgba(16, 16, 17, 0.7)),url(images/fondoM.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}
nav img{
    height: 50px;
    width: 50px;
}
.nav-links{
    flex: 1;
    text-align:right;
}
.nav-links ul li{
    list-style:none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(135, 135, 135);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position:fixed;
    top: 70%;
    left: 50%;
    bottom: 30%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 1.5vh;
    font-size: 1.5vw;
}
.text-box h1{
    font-size: 2.5vh;
    font-size: 2.5vw;
}
@media(max-width: 700px){
    #estudiotext{
        font-size: 4vw;
     }
    .text-box {
        font-size: 5vw;
    }
    .text-box h1{ 
        font-size: 8vw;
     }
    
    }





input {                        /*no muestra el botón de menu */
    display: none;     
  }
  label {                       /*no muestra la etiqueta ☰ */
      display:none;}
@media all and (max-width: 700px) {  /*cuando el dispositivo es como máximo de 700px*/

    input:checked  ~ ul{   /*muestra todas el contenido de todas las etiquetas ul */
    display:block;
      }
  
      input:checked ~ label {   /*muestra todo el contenido de todas las etiquetas label */
      background: grey; 
          }
  
      label:hover{                /*cambia el color de ☰ */
      background: grey;
      }
  
    li{                         /*elimina el margen  de cada botón */
         margin: 0px;
         text-align: right;
     }
  
     label {                      /* dibuja la etiqueta ☰  con formato botón */
       box-sizing: border-box;
       display: block;
       border: 1px solid black;
       border-radius: 5px;
       width: 30px;
       height: 30px;
       line-height: 30px;
       font-weight: bold;
       text-align: center;
       user-select: none;
       background-color: rgb(156, 163, 163);
       position: relative;
       left: 93%;
       
  
        }
      
        ul{                          /*deja de mostrar el bloque contenedor de los botones horizontales */
            display: none;
           
       
           }

        }
        ul li a{
          text-decoration: none;
          color: black;
        }
        
    

 #gorro{
    width: 20%;
    position:fixed;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
}
 #ima{
    width: 20%;
    position:fixed;
    top: 37%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
@media(max-width: 700px){
    #ima{
        width: 30%;
        height:auto;
        flex-shrink: 0;
        border-radius: 186px;
        
        box-sizing: border-box
    }
    #gorro{
        width: 186px;
        height: 186px;
        flex-shrink: 0;
        box-sizing: border-box;
        top: 37%;
        left:50%;
    }
    
}